{% extends "base.html" %}

    {% block content %}
 <h1>Welcome back, {{ current_user.username }}!</h1>
                
                {% if form %}
                <div class="content-section">
                        <form action="" method="post" novalidate>
                                <fieldset>
                                        <legend class="border-bottom mb-4">Share your thoughts!</legend>
                                        <div class="form-group">
                                                {{ form.hidden_tag() }}
                                                
                                                        {{ form.post.label(class='form-control-label') }}
                                                        
                                                        {% if form.post.errors %}
                                                        {{ form.post(class="form-control form-control-lg is-invalid") }}
                                                        <div class="invalid-feedback">
                                                                {% for error in form.post.errors %}
                                                                <span> {{ error }} </span>
                                                                {% endfor %}
                                                        </div>
                                                        
                                                        {% else %} 
                                                
                                                        {{ form.post(class='form-control form-control-lg') }}
                                                        
                                                        {% endif %}
                                                
                                                
                                        </div>
                                </fieldset>  
                                <p class>{{ form.submit() }}</p>      
                        </form>
                </div>    
                {% endif %}
                
                {% for post in posts %}
                        {% include '_post.html' %}
                {% endfor %}
   
                
        {% endblock %}

   